body {
  width: 100%;
  margin: 0px;
  padding: 2% 2%;
  color: #cce;
  font-size: 1rem;
  font-family: sans;
  font-weight: normal;
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.225);
  overflow: hidden;
  font-weight: bold;
  background: rgb(30,87,153);
  background: -moz-linear-gradient(top, rgba(50,107,173,1) 0%, rgba(41,137,216,1) 13%, rgba(32,124,202,1) 95%, rgb(69, 123, 165) 100%);
  background: -webkit-linear-gradient(top, rgba(50,107,173,1) 0%,rgba(41,137,216,1) 13%,rgba(32,124,202,1) 95%, rgb(69, 123, 165) 100%);
  background: linear-gradient(to bottom, rgba(50,107,173,1) 0%,rgba(41,137,216,1) 13%,rgba(32,124,202,1) 95% rgb(69, 123, 165) 100%);
  background-size: 100%;
  background-attachment: fixed;
}

.headerControl,
.page {
  position: absolute;
  width: 96%;
  transition-property: all;
  transition-duration: 670ms;
  transition-delay: 0ms;
  transform: translate(0px, 0px);
  opacity: 1;
}

.page[data-src="viewTopics"],
.page[data-src="viewFeeds"] {
  overflow-y: scroll;
}

.headerControl.inactive {
  transform: translate(-107%, 0px);
  opacity: 0;
}

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: inherit;
  transform: translate(105%, 0px);
  z-index: 100;
  height: 100%;
  width: 100%;
  padding: 2% 2%;
  border-radius: 12px;
  overflow-y: auto;
  opacity: 0;
}

.page.active {
  opacity: 1;
  transform: translate(0%, 0px);
  z-index: 101;
}

label {
  padding: 0.85em 1em 0.85em 1em;
  font-size: 1.25em;
  margin-bottom: 0.85em;
  margin-top: 1.75em;
  clear: both;
  display: block;
  color: #aef;
  text-align: center;
  background: rgb(30,87,153);
  background: -moz-linear-gradient(top, rgba(50,107,173,0.6) 0%, rgba(41,137,216,1) 8%, rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.35) 100%);
  background: -webkit-linear-gradient(top, rgba(50,107,173,0.6) 0%,rgba(41,137,216,1) 8%,rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.35) 100%);
  background: linear-gradient(to bottom, rgba(50,107,173,0.6) 0%,rgba(41,137,216,1) 8%,rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.35) 100%);
  border-left: 1px solid rgb(61, 122, 172);
  border-bottom: 1px solid rgb(38, 82, 117);
  border-right: 1px solid rgb(38, 82, 117);
  border: none;
  text-shadow: 1px 1px rgba(68, 68, 102, 0.26);
}

label:first-of-type {
  margin-top: 0px;
}


input,
select,
button,
label.controlButton {
  margin: 0px;
  padding: 8px 9px;
  max-width: 100%;
  min-width: 100%;
  font-size: 1em;
  border-width: 1px;
  color: #bdf;
  border-color: #446;
  border-radius: 8px;
  margin-bottom: 9px;
  font-weight: inherit;
  box-shadow: -1px 1px 2px rgba(34, 34, 51, 0.145);
  text-align: center;
  word-wrap: break-word;
  background: rgba(47, 103, 167);
  background: -moz-linear-gradient(top, rgba(50,107,173,0.7) 0%, rgba(59, 156, 235, 0.7) 8%, rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(50,107,173,0.7) 0%,rgba(59, 156, 235, 0.7) 8%,rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(50,107,173,0.7) 0%,rgba(59, 156, 235, 0.7) 8%,rgba(32,124,202,1) 95%, rgba(37, 65, 87, 0.65) 100%);
  border-top: 1px solid rgb(61, 122, 172);
  border-left: 1px solid rgb(61, 122, 172);
  border-bottom: 1px solid rgb(38, 82, 117);
  border-right: 1px solid rgb(38, 82, 117);
  outline: none;
  text-shadow: 1px 1px rgba(68, 68, 102, 0.26);
}

input::-moz-focus-inner,
select::-moz-focus-inner,
button::-moz-focus-inner,
a::-moz-focus-inner {
  border: none;
}

div, ul, h1, h2, h3, h4, label {
  outline: none;
}

hr {
  border: 1px solid rgb(42, 119, 207);
  margin: 0px;
  padding: 0px;
  margin-top: 6px;
  margin-bottom: 9px;
  border-bottom: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}


ul, li {
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  text-shadow: inherit;
  color: inherit;
}

body.noAnim .headerControl,
body.noAnim .page,
body.noAnim .newsEntry,
body.noAnim .newsEntry ul,
body.noAnim button.folding,
body.noAnim button.folding.bottom,
body.noAnim button.slideButton.button,
body.noAnim .singleNewsIndex {
  transition: unset;
}

.controlButton.removeFeed {
  background-image: url("icons/search_icon.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px;
  text-align: left;
}

.controlButton.removeKeyword {
  background-image: url("icons/dumpster_22.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px;
  text-align: left;
}

.controlButton.marginTop {
  margin-top: 2em;
}

button {
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button.backButton {
  margin: 0px;
  padding: 0.8em 0.52em;
  line-height: 0em;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  min-width: 6%;
  max-width: 100%;
  float: left;
  margin: 10px 0.5em 10px 0px;
  text-decoration: none;
  border: none;
}



button.folding,
button.folding.bottom {
  max-width: 100%;
  min-width: 1.15em;
  height: 1.75em;
  line-height: 0px;
  font-size: 2em;
  float: right;
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 12px;
  text-decoration: none;
  border: none;
  transition-property: all;
  position: relative;
  z-index: 101;
  transition-duration: 100ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}

button.bottom {
  border-top: 1px solid rgba(50,107,153, 0.7);
  margin-top: 13px;
  margin-bottom: 30px;
  clear: both;
  visibility: visible;
}

.folded button.bottom {
  visibility: hidden;
  margin-bottom: -12px;
}

.headerControl .headline {
  padding: 10px 0px 10px 42px;
  background: url('icons/thunderNote.svg') left center;
  background-size: 32px;
  background-repeat: no-repeat;
}

.headline {
  margin: 0px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  padding: 10px 0px 10px 42px;
}

.postInstall {
  padding: 20px 30px;
}

.postInstall p {
  max-width: 88%;
  font-weight: normal;
}

.postInstall .logo {
  margin-top: 20px;
  margin-right: 30px;
  padding: 64px 64px 64px 164px;
  display: inline-block;
  background: url('icons/thunderNote.svg') left center;
  background-repeat: no-repeat;
  background-size: 128px;

}

.subList {
  box-shadow: -4px 2px 5px rgba(0,0,0, 0.265);
}

.subList hr {
  margin: 0px;
  padding: 0px;
}

ul {
  clear: both;
}

.newsEntry.singleRow {
  overflow: hidden;
  max-width: 100%;
}

.page .subList.singleRow {
  clear: unset;
  max-width: 100%;
  overflow: hidden;
}

.subList.singleRow li {
  clear: unset;
  margin-top: 16px;
  float: left !important;
}

button.slideButton {
  display: none;
  margin-bottom: 18px;
  width: 36%;
  min-width: 36%;
  max-width: 100%;
  text-decoration: none;
  margin-top: 0.5em;
  font-weight: bold;
  opacity: 0;
  transition-property: all;
  transition-delay: 220ms;
  transition-duration: 80ms;
}

.singleNewsIndex {
  clear: both;
  display: none;
  opacity: 0;
  transition-property: all;
  transition-delay: 220ms;
  transition-duration: 80ms;
  width: 100%;
  max-width: 100%;
  font-size: 0.75em;
}

.singleRow .singleNewsIndex {
  display: inline-block;
  opacity: 1;
}

.singleRow button.slideButton {
  opacity: 1;
  display: inherit;
  margin-bottom: 12px;
}
.singleRow .folded .slideButton {
  opacity: 0;
  display: none;
}

.newsEntry {
  margin: 0px;
  padding: 0px;
  clear: both;
  box-shadow: -4px 2px 5px rgba(0,0,0, 0.265);
  overflow: hidden;
  width: 100%;
  max-width: auto;
  min-width: auto;
  float: left;
  transition-property: color, background, opacity, transform;
  transition-duration: 460ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}

.newsEntry li {
  margin: 0px;
  padding-top: 12px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid rgb(105, 105, 225);
  transition-property: color, background, opacity, transform;
  transition-duration: 460ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
}

.newsEntry li:last-of-type {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.newsEntry .highlight,
.newsEntry li:hover {
  color: #dde;
  background-color: rgba(30, 94, 158, 0.724);
}

.newsEntry,
.newsEntry ul {
  transition-property: all;
  transition-duration: 460ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.newsEntry.folded ul {
  opacity: 0;
  z-index: 0;
}

.subTitle,
.subCount {
  font-size: 1.85rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px rgba(0,0,0, 0.32);
  margin: 0px;
  word-wrap: break-word;
  border-radius: 0px 6px 0px 6px;
  padding-left: 1rem;
  max-width: 100%;
}

.subTitle {
  border-radius: 0px 6px 0px 0px;
  padding: 0.85rem 10px 0.85rem;
  background-color: rgba(0,0,0, 0.164);
  width: 100%;
}

.subCount {
  float: right;
  margin-top: 0.35rem;
  font-size: 1.5rem;
}

.subList {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  background-color: rgba(0,0,0, 0.08);
  border-radius: 0px;
  margin-bottom: 16px;
}

.feedName {
  clear: both;
  font-size: 0.75em;
  width: 100%;
  max-width: 100%;
  user-select: text;
  margin: 0px;
  padding: 0px;
}

.subList li {
  padding: 6px 12px;
}

.entryDate {
  margin-top: 1.25em;
  font-size: 0.75em;
  width: 100%;
  -moz-user-select: text;
}

.entryTitle {
  margin: 0px;
  margin-top: 0.3em;
  padding: 0px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  -moz-user-select: text;
  width: 100%;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 130%;
}

.entryTitle:hover {
  text-decoration: underline;
}

.entryTitle.inactive {
  cursor: default;
}

.entryTitle.inactive:hover {
  text-decoration: none;
}

.entryContent {
  max-width: 100%;
  min-width: 100%;
}

.entryContent p {
  position: relative;
  display: inline-block;
  width: 71%;
  left: 27%;
  word-wrap: break-word;
}

.entryContent.noImg p {
  width: 100%;
  left: 0%;
  word-wrap: break-word;
}

.entryContent {
  clear: both;
  position: relative;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 162%;
  -moz-user-select: text;
  border-bottom: 1px solid rgb(105, 105, 225);
  position: relative;
  margin-bottom: 24px;
  vertical-align: text-top;
  min-height: 90px;
}

.entryContent img {
  position: absolute;
  top: 1.25em;
  left: 0px;
  width: 25%;
  height: auto;
  max-width: 100%;
  border: 1px solid #444;
  box-shadow: -3px 3px 4px rgba(0,0,0, 0.164);
}

.entryContent:last-of-type {
  border: none;
  padding-bottom: 0px;
  margin: 0px;
}
